@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Hide textarea resizer */
  .no-resizer::-webkit-resizer {
    display: none
  }
}

body {
  @apply bg-okam-black;
}

.btn {
  @apply items-center border border-transparent font-medium focus:outline-none;
}

.btn-xs {
  @apply px-2.5 py-1 text-sm rounded-lg;
}

.btn-sm {
  @apply p-3 text-sm rounded-lg
}

.btn-md {
  @apply px-4 py-2.5 text-base rounded-lg;
}

.btn-primary {
  @apply text-okam-dark-green bg-green-400 hover:bg-green-300 focus:ring-green-500;
}

.btn-secondary {
  @apply text-green-300 border-green-800 bg-okam-dark-green hover:text-green-200 hover:bg-green-900 focus:border-green-300;
}

.btn-tertiary {
  @apply text-okam-dark-green bg-gray-300 hover:bg-gray-200 focus:ring-gray-400;
}

.btn-quaternary {
  @apply text-sm text-gray-600 rounded-lg focus:bg-green-800 focus:text-gray-50
}